<mat-nav-list class="linkList">
    @for (section of $sections(); track section) {
        <a class="listItem" mat-list-item (click)="navigateTo(section)">
            {{ section }}
        </a>
    }    
</mat-nav-list>
<mat-divider/>
<mat-list class="editionListHeader">
    <mat-list-item class="listItem" role="listitem">Edycje</mat-list-item>
</mat-list>
<mat-nav-list class="linkList">  
    @for (edition of $editions(); track edition) {
        <a mat-list-item 
            class="editionLink listItem"           
            (click)="onEditionChange(edition)">
            {{ edition }}
        </a>
    }
</mat-nav-list> 